<div class="container">
  <div class="blocks">
    <app-video-list-block [title]="'Про Институт Информационных Технологий'" [video]="'video1.mp4'"></app-video-list-block>
    <app-video-list-block [title]="'День Открытых Дверей 2018'" [video]="'video2.mp4'"></app-video-list-block>
    <app-video-list-block [title]="'День Открытых дверей 2019'" [video]="'video3.mp4'"></app-video-list-block>
    <app-video-list-block [title]="'Про Институт Информационных Технологий'" [video]="'video1.mp4'"></app-video-list-block>
    <app-video-list-block [title]="'День Открытых Дверей 2018'" [video]="'video2.mp4'"></app-video-list-block>
    <app-video-list-block [title]="'День Открытых дверей 2019'" [video]="'video3.mp4'"></app-video-list-block>
    <app-video-list-block [title]="'Про Институт Информационных Технологий'" [video]="'video1.mp4'"></app-video-list-block>
    <app-video-list-block [title]="'День Открытых Дверей 2018'" [video]="'video2.mp4'"></app-video-list-block>
    <app-video-list-block [title]="'День Открытых дверей 2019'" [video]="'video3.mp4'"></app-video-list-block>
  </div>
</div>
