<div class="container">
  <div class="imageSpinner">
    <div class="spinner">
      <div class="item">
        <img src="assets/content/news/img1.jpg" />
      </div>
    </div>
    <div class="control-panel">
      <div class="button">&lt;</div>
      <div class="button">&gt;</div>
    </div>
  </div>
  <div class="reader">
    <div class="inner">
   <p class="header">Поздравление ректора с Днём защитника Отечества
     <br> <span class="date">21.02.2020</span>
   </p>


      Уважаемые коллеги!<br>
    <br>
     Дорогие ветераны воинской службы, профессорско-преподавательский состав и сотрудники университета! Сердечно поздравляю вас с Днём защитника Отечества!<br>
     ⠀<br>
     23 февраля — праздник особенный. В нём отзвук великих побед и исторических сражений, дань священным традициям и неисчерпаемый боевой дух российского воинства. Это праздник мужественных и сильных людей, истинных патриотов своей страны, всех тех, кто посвятил свою жизнь благородному делу служения Родине.<br>
     ⠀<br>
     Сегодня День защитника Отечества олицетворяет неразрывную связь поколений, признание народом великих заслуг российского воинства.&nbsp;<br>
    <br>
    Многие из наших коллег и в мирное время прошли свой боевой путь в «горячих точках», имеют правительственные награды. Мне отдельно хочется поблагодарить наших ветеранов, которые не жалеют времени и сил для передачи своего опыта и воспитания новых поколений российских инженеров.<br>
     ⠀<br>
    В преддверии Дня защитника Отечества искренне желаю вам и вашим близким крепкого здоровья, бодрости духа и чистого мирного неба над головой!</div>
  </div>
  </div>
