.container {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

.imageSpinner {
  display: inline-block;
  position: relative;
  height: 100%;
  width: calc(100% / 3 * 2);
}

.spinner {
  position: absolute;
  top: 20px; bottom: 20px; left: 20px; right: 20px;
  border-radius: 15px;
  overflow: hidden;
  background-color: #000;
}

.spinner > .item {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  display: flex;
  justify-content: center;
}

.spinner > .item > .image {
  z-index: 2;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.spinner > .item > .background {
  position: absolute;
  width: 120%;
  height: 120%;
  top: -10%; bottom: 0; left: -10%; right: 0;
  filter: blur(50px) brightness(50%);
}

.control-panel {
  position: absolute;
  top: 40px; bottom: 40px; left: 40px; right: 40px;
  display: flex;
  z-index: 2;
  justify-content: space-between;
  align-items: flex-end;
}

.control-panel > .button {
  height: 50px;
  width: 60px;
  backdrop-filter: brightness(150%) contrast(80%) saturate(0%) blur(15px);
  color: #fff;
  font-size: 20pt;
  text-align: center;
  line-height: 52px;
  border-radius: 15px;
  position: relative;
  padding: 0 20px;
}

.reader {
  display: inline-block;
  position: relative;
  height: 100%;
  width: calc(100% / 3);
  vertical-align: top;
  font-size: 15pt;
}

.reader .inner {
  position: absolute;

  top: 20px; bottom: 20px; left: 20px; right: 0;
}

.reader .header {
  font-weight: bold;
  font-size: 18pt;
}
.reader .date {
  font-weight: lighter;
  font-size: 12pt;
  color: #888;
}

.reader .body::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  top:0; left:0; right: 0;
  height: 18px;
}

.reader .body P:first-child {
  margin-top: 0;
}

.reader .body {
  --scrollbar-size: 20px;
  --scrollbar-border-radius: 100px;
  --scrollbar-thumb-color: rgba(0, 0, 0, 0.1);
  --scrollbar-thumb-hover-color: var(--scrollbar-thumb-color);
  --scrollbar-padding: 0 0 0 10px;
}

